[Unit]
Description=Bazzzzite Game Mode (performance governor + disable Cage)
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzzzite-game-mode start
RemainAfterExit=yes
ExecStop=/usr/libexec/bazzzzite-game-mode stop
